.partnersItem {
  display: flex;
  align-items: center;
  justify-content: center;
  &:nth-child(1) {
    img {
      max-width: 90px;
    }
  }
  &:nth-child(2) {
    .img {
      max-width: 84px;
    }
  }
  &:nth-child(3) {
    .img {
      max-width: 84px;
    }
  }
  &:nth-child(4) {
    .img {
      max-width: 122px;
    }
  }
  &:nth-child(5) {
    .img {
      max-width: 111px;
    }
  }
  &:nth-child(6) {
    .img {
      max-width: 80px;
    }
  }
  @media screen and (max-width: 768px) {
    width: 45%;
  }
}
