div .testimonialItem {
  width: 376px;
}
.testimonialItem {
  height: 100%;
  padding: 32px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(55, 36, 8, 0.08);
  border-radius: 20px;

  @media screen and (max-width: 768px) {
    width: 312px;
    padding: 24px;
    box-shadow: 0px 0px 20px rgba(55, 36, 8, 0.08);
  }

  &Desc {
    font-size: 16px;
    line-height: 180%;
    opacity: 0.7;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }

  &Header {
    padding-bottom: 32px;

    @media screen and (max-width: 768px) {
      padding-bottom: 24px;
    }
  }
}
