.postPreview {
width: 100%;
height: 488px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-bottom: 70px;
}

.inner_container {
padding: 0 170px;

@media screen and (max-width: 1024px) {
    padding: 0;
}
}

.postTitle {
margin: 0 0 15px 0;
font-weight: 700;
font-size: 28px;
line-height: 120%;
font-style: 400;

@media screen and (max-width: 768px) {
    margin: 16px 0 8px 0;
}
}

.postDescription {
font-size: 16px;
font-weight: 400;
font-style: normal;
line-height: 28.8px;
opacity: 0.7;
padding-bottom: 20px;
}

.postDescription p {
padding: 10px 0;
}

.videoContainer {
  display: block;
  margin: 0 auto;
  width: 560px;
}

