.mobileApp {
  &Content {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    align-items: center;

    @media screen and (max-width: 860px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &Left {
    position: relative;
    width: 584px;

    @media screen and (max-width: 860px) {
      width: 400px;
      margin: 0 auto;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
    }

    &::before {
      content: "";
      display: block;
      margin-top: 100%;
    }
  }

  .imageContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 296px;
    height: 474px;

    & * {
      position: unset !important;
    }

    @media screen and (max-width: 991px) {
      width: 200px;
      height: 320px;
    }

    @media screen and (max-width: 420px) {
      width: 150px;
      height: 240px;
    }
  }

  .image {
    object-fit: cover;
    object-position: center center;
    width: 100% !important;
    position: relative !important;
    height: 100% !important;
  }

  &Info {
    max-width: 480px;

    @media screen and (max-width: 1100px) {
      max-width: 380px;
    }

    @media screen and (max-width: 860px) {
      max-width: 100%;
    }
  }

  &Desc {
    padding-top: 32px;
    font-size: 16px;
    line-height: 180%;
    opacity: 0.7;

    @media screen and (max-width: 575px) {
      padding-top: 16px;
    }
  }

  &Footer {
    display: flex;
    padding-top: 40px;

    @media screen and (max-width: 575px) {
      padding-top: 32px;
    }
  }
}
