.wrapper {
  padding-bottom: 144px;

  @media screen and (max-width: 768px) {
    padding-bottom: 72px;
  }
}

.postPreview {
  width: 100%;
  height: 488px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 70px;
}

.inner_container {
  padding: 0 170px;

  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}
