@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../assets/fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Medium.woff') format('woff'),
    url('../assets/fonts/Inter/Inter-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-SemiBold.woff') format('woff'),
    url('../assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-Bold.woff') format('woff'),
  url('../assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-ExtraBold.woff') format('woff'),
  url('../assets/fonts/Inter/Inter-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
}